# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.venv/
venv/
ENV/
env/
.env

# Flask
instance/
*.db
*.sqlite3
migrations/

# Logs
logs/
*.log

# Virtual Environment
venv/
ENV/
env/

#backups
backups/

# Local configuration

#Temp file before_print. 
temp_stickers.pdf 

# Unit test / coverage reports
.coverage
.tox/

# macOS
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/
