{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Analytics Dashboard</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header transparent">Total Print Jobs</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_print_jobs }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header transparent">Total Stickers Printed</div>
            <div class="card-body">
                <h5 class="card-title">{{ total_stickers }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
            <div class="card-header transparent">Total Value of Stickers</div>
            <div class="card-body">
                <h5 class="card-title">₹ {{ total_value }}</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}
