<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product Sticker App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Product Sticker App</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.list_categories') }}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.list_products') }}">Products</a>
                </li>
                <li class="nav-item"> 
                  <a class="nav-link" href="{{ url_for('main.multi_product_print_view') }}">Print Stickers</a> 
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.print_jobs') }}">Print History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.analytics_dashboard') }}">Analytics</a>
                </li>
                {% if current_user.role == 'store_admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.user_management') }}">User Management</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text mr-2">
                        Hello, <a href="{{ url_for('main.profile') }}">{{ current_user.name or current_user.username }}</a>!
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
