{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Dashboard</h1>
<div class="row">
    <div class="col-md-4 mb-4">
        <a href="{{ url_for('main.list_products') }}" class="text-decoration-none">
            <div class="card dashboard-card text-white bg-primary">
                <div class="card-header transparent">Total Products</div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_products }}</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 mb-4">
        <a href="{{ url_for('main.list_categories') }}" class="text-decoration-none">
            <div class="card dashboard-card text-white bg-success">
                <div class="card-header transparent">Total Categories</div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_categories }}</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 mb-4">
        <a href="{{ url_for('main.print_jobs') }}" class="text-decoration-none">
            <div class="card dashboard-card text-white bg-info">
                <div class="card-header transparent">Total Print Jobs</div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_print_jobs }}</h5>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
