{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Print Jobs</h1>

{% if success_message %}
    <div class="alert alert-success" role="alert">
        {{ success_message }}
    </div>
{% endif %}

{% if print_jobs %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Date</th>
                {% if is_admin %}
                    <th>Printed By</th>
                {% endif %}
                <th>Batch Number</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in print_jobs %}
                <tr>
                    <td>{{ item.job.product.name if item.job.product else 'Product Deleted' }}</td>
                    <td>{{ item.job.quantity }}</td>
                    <td>{{ item.job.print_date.strftime('%d %b %Y %H:%M') }}</td>
                    {% if is_admin %}
                        <td>{{ item.job.user.username if item.job.user else 'User Deleted' }}</td>
                    {% endif %}
                    <td>{{ item.job.batch_number }}</td>
                    <td>
                        {% if item.job.product %}
                            {{ "%.2f"|format(item.value) }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center p-3">
        {{ pagination.links }}
    </div>
{% else %}
    <p>No print jobs available.</p>
{% endif %}
{% endblock %}
