{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Settings</h1>

<div class="card mb-4">
    <div class="card-header">
        <h2 class="mb-0">Automatic Backup</h2>
        <p class="mt-2 mb-0 font-italic">Set a time for automatic daily backups.</p>
    </div>
    <div class="card-body">
        <form method="POST" action="{{ url_for('main.settings') }}">
            {{ store_info_form.csrf_token }}
            <div class="form-group">
                <label for="time">Backup Time (HH:MM):</label>
                <input type="time" id="time" name="time" class="form-control" value="{{ auto_backup_time if auto_backup_time else '' }}" required>
            </div>
            <button type="submit" name="set_backup_time" class="btn btn-primary">Set Automatic Backup</button>
        </form>
        {% if auto_backup_time %}
            <p class="mt-3">Current automatic backup time: {{ auto_backup_time }}</p>
        {% else %}
            <p class="mt-3">No automatic backup time set. Please set a time for daily backups.</p>
        {% endif %}
        <p class="mt-3 text-info">Note: Automatic backups will occur daily at the specified time.</p>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h2 class="mb-0">Store Info</h2>
        <p class="mt-2 mb-0 font-italic">Update the store information.</p>
    </div>
    <div class="card-body">
        <form method="POST" action="{{ url_for('main.settings') }}" enctype="multipart/form-data">
            {{ store_info_form.csrf_token }}
            <div class="form-group">
                {{ store_info_form.name.label }}
                {{ store_info_form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ store_info_form.address.label }}
                {{ store_info_form.address(class="form-control") }}
            </div>
            <div class="form-group">
                {{ store_info_form.phone_number.label }}
                {{ store_info_form.phone_number(class="form-control") }}
            </div>
            <div class="form-group">
                {{ store_info_form.gst_number.label }}
                {{ store_info_form.gst_number(class="form-control") }}
            </div>
            <div class="form-group">
                {{ store_info_form.fssai_number.label }}
                {{ store_info_form.fssai_number(class="form-control") }}
            </div>
            <div class="form-group">
                {{ store_info_form.email.label }}
                {{ store_info_form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ store_info_form.logo.label }}
                {{ store_info_form.logo(class="form-control-file") }}
                {% if store_info and store_info.logo %}
                <div class="mt-2">
                    <p>Current Logo:</p>
                    <img src="{{ url_for('static', filename=store_info.logo) }}" alt="Store Logo" style="max-width: 200px;">
                </div>
                {% endif %}
            </div>
            <button type="submit" name="store_info_submit" class="btn btn-primary">Save Store Info</button>
        </form>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h2 class="mb-0">AI Integration</h2>
        <p class="mt-2 mb-0 font-italic">Configure your AI API key for integration.</p>
    </div>
    <div class="card-body">
        <form method="POST" action="{{ url_for('main.settings') }}">
            {{ store_info_form.csrf_token }}
            <div class="form-group">
                <label for="gpt_api_key">OpenAI API Key:</label>
                <p class="font-italic">
                    Enter your OpenAI API key
                    <a href="https://platform.openai.com/api-keys" target="_blank">here</a> by signing up at the OpenAI website.
                </p>
                <input type="text" id="gpt_api_key" name="gpt_api_key" class="form-control" placeholder="Enter your API key" value="{{ partial_api_key if partial_api_key else '' }}" required>
            </div>
            <button type="submit" name="set_gpt_key" class="btn btn-primary">Save API Key</button>
        </form>
    </div>
</div>
{% endblock %}
